<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="../jquery-3.5.1.min.js"></script>
<script>
        $("form").submit(function (event) {
            if ($("input").val() == "") {
                event.preventDefault();
            }

        });
function grantme(ev) {
  $('img.jerry').css("display", "inline");
  console.log(ev);
}
</script>
<link rel="stylesheet" href="css/main.css"/>
{{#if cssOverrides}}
<link rel="stylesheet" href="css/{{cssOverrides}}"/>
{{/if}}

<title>{{title}}</title>
</head>
<body>
  <header>
    <nav>
      <a href="/bet">Make bets</a><span></span>
      <a href="/fund">Fund account</a><span></span>
      <a href="/history">History</a><span></span>
      <a href="/logout">Logout</a><span></span>
         <a href="/about">About Us</a><span></span>
      <a id="admin_access" class="admin" href="/admin">Admin</a>
      <span class="appname">Jerry Sports Wagering <em>v0.0</em></span>
    </nav>
  <img onclick="grantme" class="jerry" src="../img/jerry.png" alt="Jerry Sports Wagering"/>
  </header>
<main>
{{{body}}}
</main>

<script src="../tota11y.min.js"></script>
</body>
</html>
