<h2>Make your bets</h2>
<p>
I'm all in.
</p>
<form name="bet" id="bet" action="/bet" method="POST">
<label for="balance">Balance</label>
<input type="text" value="0" name="balance" id="balance"/>
<p>
<button name="bet"><b>Submit</b></button>
</p>
</form>
