<h2>Your betting history</h2>
<p>
<code><em>Query bets collection for current authenticated user, and bring back a formatted page
of results in a table, one row for each bet made.</em></code></p>

<p>
<code><em>Can default to chronological ordering of bets. Nice to have ability to sort by column
but I don't believe we signed up for that so only do time-permitting.</em></code>
</p>
