<h1>Login</h1>
{{#if error}}
<p class="error">
  Login failed. Please enter a valid username and password.
</p>
{{/if}}
<form id="login-form" name="login" action="/" method="POST">
<div>
<label for="username">Username</label>
<input type="text" id="username" name="username" placeholder="Enter your username" required/>
</div>
<div>
<label for="password">Password</label>
<input id="password" name="pwd" type="password" required/>
</div>
<label>
<button id="submit" name="submit">Login</button>
</label>
</form>
