<h1>Login</h1>
{{#if error}}
<p class="error">
  Login failed. Please enter a valid username and password.
</p>
{{/if}}
<form id="login-form" name="login" action="/" method="POST">
<div>
<label for="username">Username</label>
<input type="text" id="username" maxlength="16" minlength="8" name="username" placeholder="Enter your username" required value="{{username}}"/>
</div>
<div>
<label for="password">Password</label>
<input id="password" name="pwd"minlength="8" maxlength="16" type="password"  required/>
</div>
<label>
<button id="submit" name="submit">Login</button>
</label>
<h2>Not a user?</h2>
<a alt="Sign up" class="signup" href="/signup">Sign Up</a>
</form>
<script src="../routes/login.js"></script>
